@use "@carbon/react" with (
  $font-path: "@ibm/plex"
);

@use "@carbon/ibm-products/css/index";

:root {
  @include react.theme(react.$g10);
}

.cds--content {
  padding: unset !important;
}

a.cds--header__name {
  padding: 0 1rem;
}
